
body {
  background-color: #ffffcc;
  padding: 50px, 50px, 50px, 50px;
}
h1 {
  text-decoration: underline;
  text-align: center;
  color: black;
  font-style: oblique;
  font-weight: bold;
  font-family: sans-serif, simplifica;
}
p {
  color: black;
  font-style: normal;
  font-family: sans-serif;
}

input {
  margin-bottom: 22px;
}
#button {
  background: #80ff80;
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-size: 17px;
  margin-top: 16px;
  transition-duration: .2s;
}
#button:hover {
  background: white;
  border: 2px red;
  color: black;
  cursor: pointer;
}
#after_submit {
  visibility: hidden;
  background: skyblue;
  padding: 20px, 40px, 20px, 40px;
  width: 450px;
  border-radius: 20px;
  float: right;
  margin: center;
  font-size: 30px;

}
#quiz {
  border-radius: 10px;
  float: left;
  padding: 20px, 10px, 20px, 10px;
  font-size: 20px;
  color: black;
}
 #mc {
   border: inline;
 }
